@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,600;0,800;1,300;1,600;1,800&display=swap');

*{
   font-family: 'Nunito Sans', sans-serif;
   padding: 0em;
   margin: 0em;
   box-sizing: border-box;
}

:root{
    --Dark-Blue: #2b3945;
    --Very-Dark-Blue: #202c37;
    --Very-Dark-Blue-light: hsl(200, 15%, 8%);
    --Dark-Gray-light-input: #858585;
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
}


#light .background-color{
    background-color: var(--White);
}


#light .text-color{
    color: var(--Very-Dark-Blue-light);
}

#light .search-icon-background{
    background-color: var(--White);
}

#light .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:black;
    opacity: 1; /* Firefox */
}


#dark .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:var(--White);
    opacity: 1; /* Firefox */
}

#dark .head-background-color{
    background-color: var(--Dark-Blue);
}


#dark .background-color{
    background-color: var(--Very-Dark-Blue);
}

#dark .text-color{
    color: var(--White);
}


.head-container{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 1em 1.5em 1em 1.5em;
}

.head-container h1{
    font-size: 1.5em;
    font-weight: 800;
}

.subhead{
    padding: 1em 1.5em 1em 1.5em;

}

.subhead span{
    border-right: none;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius:0 !important;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}

.subhead-input{
    height: 3em;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

   
}

.select-container{
    height: 3em;
}

.select-option{
    width: 50%;
    outline: none ;
    padding: 0.5em;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}



#dark .form-select{
    background-image: url('./images/white.svg');
}


/* placeholder */




@media only screen and (min-width: 1000px) {


    .head-container{
        padding: 1em 3em 1em 3em;

    }


    .subhead{
        display: inline-flex  !important;
        flex-direction: row  !important;
        width: 100%;
        justify-content: space-between;
        padding:2em 3em 2em 3em;

    }

    .subhead-input-container{
        width: 30%;
    }

    .select-container{
        height: auto;
        width: 30% !important;
        display: flex;
        justify-content: flex-end;
        padding-left: 1em;
    }

    .select-option{
        width: 50%;
    }


}