@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,600;0,800;1,300;1,600;1,800&display=swap');

*{
   font-family: 'Nunito Sans', sans-serif;
   padding: 0em;
   margin: 0em;
   box-sizing: border-box;
}


/* body{
    background-color: aqua;
} */

:root{
    --Dark-Blue: #2b3945;
    --Very-Dark-Blue: #202c37;
    --Very-Dark-Blue-light: hsl(200, 15%, 8%);
    --Dark-Gray-light-input: #858585;
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
}

.main-page{
    min-height: 100vh;
}

#light .background-color{
    background-color: var(--White);
}


#light .text-color{
    color: var(--Very-Dark-Blue-light);
}

#light .search-icon-background{
    background-color: var(--White);
}

#light .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:black;
    opacity: 1; /* Firefox */
}


#dark .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:var(--White);
    opacity: 1; /* Firefox */
}

#dark .head-background-color{
    background-color: var(--Dark-Blue);
}


#dark .background-color{
    background-color: var(--Very-Dark-Blue);
}

#dark .text-color{
    color: var(--White);
}


.head-container{
    padding: 1em 2em 1em 2em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

#light .head-border-color{
    border-bottom: 1px solid whitesmoke;
}

#dark .head-border-color{
    border-bottom: 1px solid black;
}

.head-container h1{
    font-size: 1.5em;
    font-weight: 800;
}

.subhead{
    padding: 1em 2em 1em 2em;

}

.subhead span{
    border-right: none;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius:0 !important;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}

.subhead-input{
    height: 3em;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

   
}

.select-container{
    height: 3em;
}

.select-option{
    width: 50%;
    outline: none ;
    padding: 0.5em;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}



#dark .form-select{
    background-image: url('./images/white.svg');
}


/* placeholder */

.content-list{
    padding:2em 3em 3em 3em;

}

.content{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content:center;
    row-gap: 3em;
}

.image-container{
    width: 290px;
    height:180px;
    border-radius: 0.6em 0.6em 0em 0em;
    border: none;
    padding: 0.1em;
}

.content-list img{
    width: 100%;
    height: 100%;
    border-radius: 0.6em 0.6em 0em 0em;
    object-fit: cover;
    padding: 0;
    vertical-align: bottom;

}

.custom-card{
    border-radius: 0.6em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}

.custom-card .card-body{
    padding: 2em 0em 1em 2em;
}

.custom-card .card-body .card-main-head{
    word-wrap: break-word;

}

.custom-card .card-body p{
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 1em;
    width: 12em;
}

.custom-card .card-body h6{
    font-weight: 600;

}

.custom-card .card-body span{
    font-weight: 300;
}

::-webkit-scrollbar {
    display: none;
}

form{
    width: 100%;
}

.submit{
    display: none;
}



/* single county page */



.back-button{
    width: 7em;
    margin: 0em 0em 0em 0.1em;
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 2em;
    padding: 0em 1.2em 0em 1.2em;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.hero-container{
    min-height: 100vh;
    padding-top: 2.8em !important;
}


.border-box{
    margin-top: 2em;
}

.border-box h3{
    font-weight: 600;
    font-size: 1.2em;
}

.border-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 0.4em;
    column-gap: 0.4em;
    width: 80%;
}

.border-box span{
    padding:  0.1em 0.7em 0.1em 0.7em;
    width: 4.5em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.main-detail h3{
    font-weight: 600;
    font-size: 1.2em;
}

.main-detail span{
    font-size: 1em;
    font-weight: 300;
}

.hero-container h2{
    font-weight: 800;
    font-size: 1.5em;
    margin-bottom: 0.8em;
}

.main-container{
    padding-top: 4em!important;
}

.second-detail{
    margin-top: 1em;
}

.flag-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px !important;
}


.flag-image{
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}

@media only screen and (min-width: 698px) {


    .head-container{
        padding: 1em 5.3em 1em 5.3em;

    }


    .subhead{
        display: inline-flex  !important;
        flex-direction: row  !important;
        width: 100%;
        justify-content: space-between;
        padding:2em 5.3em 2em 5.3em;

    }

    .subhead-input-container{
        width: 30%;
    }

    .select-container{
        height: auto;
        width: 30% !important;
        display: flex;
        justify-content: flex-end;
        padding-left: 1em;
    }

    .select-option{
        width: 50%;
    }


    .content-list{
        padding:2em 5.2em 2em 5.2em;

    }

    .content{
        justify-content: flex-start;
        row-gap: 2.5em;
        column-gap: 7em;
    }

    .image-container{
        width: 350px;
    }


    /* county-page */

    .back-button{
        margin-top: 3em;
    }

    .border-box{
        padding-top: 3em;
    }

    .border-content{
        width: 100%;
        
    }

    .hero-container{
        padding: 2em 5em 2em 5em !important;
    }

    .main-container{
        padding-top: 7em !important;
    }

    

    .detail-container{
        /* background-color: aliceblue; */
        padding: 2.5em 4em 0em 8em!important;
        /* border: 1px solid black; */
    }

    /* .main-detail{
         background-color: yellow; 
    } */

    .second-detail{
        padding-top: 2em;
        padding-left: 2em;
    }

    .border-box{
        margin: 0px;
    }

    .flag-container{
        height: 400px;
    }



}
